.container{

            border :2px solid #d9b3ff;
            border-radius:20px;
             margin-top:100px;
             padding:50px;
             margin-left:400px;
             margin-right:400px;
             background-color:#d9b3ff;
             box-shadow:60px 1px 50px gray; ;

 }

 h1{
  color:white;
 }
 .hello{
  padding:10px;
  border-radius:20px;
   border:3px solid white;

 }
.c4 button{

  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
   padding-right:40px;
   border-radius:20px;
   border:3px solid #f7e6ff;
   background-color:#f7e6ff;
 }
 .c3{

font-size:20px;

  }
.c2{

font-size:20px;
 }
 button:hover{
  background-color:#b31aff;
  border:3px solid #b31aff;


  }

 




























.container{

            border :2px solid #d9b3ff;
            border-radius:20px;
             margin-top:100px;
             padding:50px;
             margin-left:400px;
             margin-right:400px;
             background-color:#d9b3ff;
             box-shadow:60px 1px 50px gray; ;

 }

 h1{
  color:white;
 }
 .hello{
  padding:10px;
  border-radius:20px;
   border:3px solid white;

 }
.c4 button{

  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
   padding-right:40px;
   border-radius:20px;
   border:3px solid #f7e6ff;
   background-color:#f7e6ff;
 }
 .c3{

font-size:20px;

  }
.c2{

font-size:20px;
 }
 button:hover{
  background-color:#b31aff;
  border:3px solid #b31aff;


  }

 




























.container{

            border :2px solid #d9b3ff;
            border-radius:20px;
             margin-top:100px;
             padding:50px;
             margin-left:400px;
             margin-right:400px;
             background-color:#d9b3ff;
             box-shadow:60px 1px 50px gray; ;

 }

 h1{
  color:white;
 }
 .hello{
  padding:10px;
  border-radius:20px;
   border:3px solid white;

 }
.c4 button{

  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
   padding-right:40px;
   border-radius:20px;
   border:3px solid #f7e6ff;
   background-color:#f7e6ff;
 }
 .c3{

font-size:20px;

  }
.c2{

font-size:20px;
 }
 button:hover{
  background-color:#b31aff;
  border:3px solid #b31aff;


  }

 




























v.container{

            border :2px solid #d9b3ff;
            border-radius:20px;
             margin-top:100px;
             padding:50px;
             margin-left:400px;
             margin-right:400px;
             background-color:#d9b3ff;
             box-shadow:60px 1px 50px gray; ;

 }

 h1{
  color:white;
 }
 .hello{
  padding:10px;
  border-radius:20px;
   border:3px solid white;

 }
.c4 button{

  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
   padding-right:40px;
   border-radius:20px;
   border:3px solid #f7e6ff;
   background-color:#f7e6ff;
 }
 .c3{

font-size:20px;

  }
.c2{

font-size:20px;
 }
 button:hover{
  background-color:#b31aff;
  border:3px solid #b31aff;


  }

 




























.container{

            border :2px solid #d9b3ff;
            border-radius:20px;
             margin-top:100px;
             padding:50px;
             margin-left:400px;
             margin-right:400px;
             background-color:#d9b3ff;
             box-shadow:60px 1px 50px gray; ;

 }

 h1{
  color:white;
 }
 .hello{
  padding:10px;
  border-radius:20px;
   border:3px solid white;

 }
.c4 button{

  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
   padding-right:40px;
   border-radius:20px;
   border:3px solid #f7e6ff;
   background-color:#f7e6ff;
 }
 .c3{

font-size:20px;

  }
.c2{

font-size:20px;
 }
 button:hover{
  background-color:#b31aff;
  border:3px solid #b31aff;


  }

 





















.container{

            border :2px solid #d9b3ff;
            border-radius:20px;
             margin-top:100px;
             padding:50px;
             margin-left:400px;
             margin-right:400px;
             background-color:#d9b3ff;
             box-shadow:60px 1px 50px gray; ;

 }

 h1{
  color:white;
 }
 .hello{
  padding:10px;
  border-radius:20px;
   border:3px solid white;

 }
.c4 button{

  padding-top:10px;
  padding-bottom:10px;
  padding-left:40px;
   padding-right:40px;
   border-radius:20px;
   border:3px solid #f7e6ff;
   background-color:#f7e6ff;
 }
 .c3{

font-size:20px;

  }
.c2{

font-size:20px;
 }
 button:hover{
  background-color:#b31aff;
  border:3px solid #b31aff;


  }

 





























